Repository kleros/court: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, stylelint --fix, prettier --write, eslint --fix

fix: consistent chainId fallbacks
  src/components/case-round-history.js
Due: prettier --write, eslint --fix

fix: rename RtA option
  src/components/case-details-card.jsx
  src/components/case-round-history.js
  src/helpers/answer-labels.js
  src/temp/answer-string.js
  src/temp/reality-addresses.js
Due: prettier --write, eslint --fix

fix: minor styling fix
  src/components/case-round-history.js
Due: prettier --write, eslint --fix

feat: allow users to unsubscribe from notifications
  src/bootstrap/atlas-api.js
  src/components/email-confirmation.js
  src/components/notification-settings.js
Due: prettier --write, eslint --fix

fix: improve unsubscribe logic and UX
  src/components/notification-settings.js
Due: prettier --write, eslint --fix

fix: improve email update and verification button logic
  src/components/notification-settings.js
Due: prettier --write, eslint --fix

feat: add feedback to user confirming unsubscribe
  src/components/notification-settings.js
Due: prettier --write, eslint --fix

feat: add pnk rewards exporter
  public/pnk-rewards-exporter.html
Due: prettier --write --ignore-unknown

chore: make rewards display directly, good ux on mobile, reverse months
  public/pnk-rewards-exporter.html
  public/pnk-rewards.html
Due: prettier --write --ignore-unknown

feat: pagination, add button in homepage
  public/pnk-rewards.html
  src/containers/home.js
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

chore: code smells
  public/pnk-rewards.html
  src/containers/home.js
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

chore: swap buttons in place
  src/containers/home.js
Due: prettier --write, eslint --fix

chore: change to staking rewards
  public/staking-rewards.html
  src/containers/home.js
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

chore: feedback
  public/staking-rewards.html
Due: prettier --write --ignore-unknown

chore: month rename
  public/staking-rewards.html
Due: prettier --write --ignore-unknown

fix: prevent unnecessary wallet popups
  src/bootstrap/app.js
Due: prettier --write, eslint --fix

fix: ensure switch to mainnet modal works without a connected wallet
  src/components/network-status.js
  src/containers/case.js
Due: prettier --write, eslint --fix

fix: allow closing the modal
  src/containers/case.js
Due: prettier --write, eslint --fix

fix: wrap cases page with RequiredChainIdGateway
  src/containers/cases.js
Due: prettier --write, eslint --fix

fix: integrate RequiredChainIdModal into Cases component for better network handling
  src/containers/cases.js
Due: prettier --write, eslint --fix

feat: march rewards
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

feat: correct adjusted supply in apy calculation
  src/helpers/rewards.js
Due: prettier --write, eslint --fix

chore: rename to adjusted
  src/helpers/rewards.js
Due: prettier --write, eslint --fix

feat: april rewards
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

fix: rabby mainnet wallet connection
  src/bootstrap/drizzle.js
Due: prettier --write, eslint --fix

fix: replace direct Ethereum chain switch request with API call to requestSwitchChain
  src/containers/case.js
Due: prettier --write, eslint --fix

fix: normalize evidence JSON structure when it is loaded
  src/bootstrap/dataloader.js
Due: prettier --write, eslint --fix

chore: minor comment update
  src/bootstrap/dataloader.js
Due: prettier --write, eslint --fix

fix: handle non object types when normalizing evidence
  src/bootstrap/dataloader.js
Due: prettier --write, eslint --fix

feat: may rewards
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

fix: implement URL safety validation for attachments and case details
  src/components/attachment.js
  src/components/case-details-card.jsx
  src/utils/urlValidation.js
Due: prettier --write, eslint --fix

fix: improve invalid attachment link UX
  src/components/attachment.js
Due: prettier --write, eslint --fix

feat: add confirmation step for unsubscribe + improve danger button styles
  src/components/global-style.js
  src/components/notification-settings.js
Due: prettier --write, eslint --fix

feat: add monthly totals to staking rewards
  public/staking-rewards.html
Due: prettier --write --ignore-unknown

refactor: extract shared helpers in staking-rewards page
  public/staking-rewards.html
Due: prettier --write --ignore-unknown

feat: add voting type tooltip to court information
  src/components/court-cascader-modal.js
Due: prettier --write, eslint --fix

feat: june rewards
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

fix incorrect handling of onchain resolution of "ipfs://" uls
  src/bootstrap/dataloader.js
Due: prettier --write, eslint --fix

add consolidated ipfs handler and tests, and utilize it with the url safety logic
  package.json
  src/bootstrap/dataloader.js
  src/components/attachment.js
  src/components/case-details-card.jsx
  src/utils/ipfs-normalizer.js
  src/utils/ipfs.test.js
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

better safe implementation to accomplish the goal of protecting users, but still allow easier integration of IPFS URIs
  src/components/attachment.js
  src/utils/ipfs.test.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write --ignore-unknown: any of: **/*.{json,html,svg,md}
  stylelint --fix: any of: **/*.{less,css}
  prettier --write: (any of: **/*.{less,css}) or (any of: **/*.{js,jsx})
  eslint --fix: any of: **/*.{js,jsx}
