Repository kleros/court: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, stylelint --fix, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{json,html,svg,md}": "prettier --write --ignore-unknown",
  "**/*.{less,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "**/*.{js,jsx}": [
    "prettier --write",
    "eslint --fix"
  ]
}

chore: fix some minor issues in the comments
  src/api/side-chain/create-side-chain-api.js
  src/bootstrap/drizzle.js
  src/components/case-details-card.jsx
  src/components/theme.less
Due: stylelint --fix, prettier --write, eslint --fix

feat: juror rewards october
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

chore: update Gnosis web3 fallback HTTPS URL in netlify.toml
  netlify.toml
Due: none

chore: update Gnosis RPC in netlify.toml
  netlify.toml
Due: none

feat: realitio baseSepolia support
  .env
  src/bootstrap/web3.js
  src/temp/arbitrable-whitelist.js
Due: prettier --write, eslint --fix

feat: switch chain dropdown
  src/bootstrap/app.js
  src/components/account-status.js
  src/components/network-status.js
Due: prettier --write, eslint --fix

fix: add error message for failed network switch
  src/components/network-status.js
Due: prettier --write, eslint --fix

fix: restrict chain switching to production networks
  src/components/network-status.js
Due: prettier --write, eslint --fix

feat: juror rewards november
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

chore: remove RPCs from netlify.toml
  netlify.toml
Due: none

fix: remove omnibridge references and redirects
  src/api/side-chain/chain-params.js
  src/assets/images/omnibridge.png
  src/components/pnk-xdai-exchanges-card.js
  src/components/side-chain/switch-court-chain.js
Due: prettier --write, eslint --fix

fix: case-1672-governor-old-rpc
  src/bootstrap/dataloader.js
Due: prettier --write, eslint --fix

fix: broken metaevidence for governor dispute 1672
  src/bootstrap/dataloader.js
Due: prettier --write, eslint --fix

feat: add rewards december
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

feat: integrate Atlas API for notifications
  src/bootstrap/app.js
  src/bootstrap/atlas-api.js
  src/components/email-confirmation.js
  src/components/notification-settings.js
Due: prettier --write, eslint --fix

refactor: code improvements
  src/bootstrap/atlas-api.js
  src/components/email-confirmation.js
  src/components/notification-settings.js
Due: prettier --write, eslint --fix

chore: delete unused code
  public/sw.js
  src/bootstrap/api.js
  src/bootstrap/service-worker.js
Due: prettier --write, eslint --fix

fix: properly place signin error display + minor code improvements
  src/bootstrap/app.js
  src/bootstrap/atlas-api.js
  src/components/notification-settings.js
Due: prettier --write, eslint --fix

fix: improve auth error handling
  src/bootstrap/atlas-api.js
Due: prettier --write, eslint --fix

chore: tiny bug in top banner
  src/components/side-chain/switch-court-chain.js
Due: prettier --write, eslint --fix

chore: wallet conection
  src/bootstrap/app.js
  src/components/wallet-connector.js
Due: prettier --write, eslint --fix

Update src/components/theme-toggle.js
  src/components/theme-toggle.js
Due: prettier --write, eslint --fix

chore: code smells
  .eslintrc.json
  src/contexts/theme-context.js
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

chore: few impros
  src/components/account-details-popup.js
  src/components/global-style.js
  src/components/notification-settings.js
  src/containers/404.js
  src/containers/error-fallback.js
  src/contexts/theme-context.js
Due: prettier --write, eslint --fix

chore: few impros
  src/components/buy-pnk-card.js
  src/components/court-cascader-modal.js
  src/components/pnk-exchanges-card.js
  src/containers/404.js
  src/containers/courts.js
  src/contexts/theme-context.js
Due: prettier --write, eslint --fix

chore: better suitable filter for iframe dark mode
  src/components/case-details-card.jsx
Due: prettier --write, eslint --fix

chore: margin adjustments on phone
  src/bootstrap/app.js
  src/components/case-details-card.jsx
  src/components/claim-modal.js
  src/components/court-cascader-modal.js
  src/components/footer/footer.css
  src/components/required-chain-id-modal.js
  src/components/side-chain/pnk-actions.js
  src/components/stake-modal.js
  src/components/top-banner.js
  src/components/wallet-connector.js
  src/containers/404.js
Due: stylelint --fix, prettier --write, eslint --fix

chore: code smells
  src/components/court-cascader-modal.js
  src/contexts/theme-context.js
Due: prettier --write, eslint --fix

chore: few fixes
  public/index.html
  src/assets/images/moon.svg
  src/assets/images/sun.svg
  src/components/global-style.js
  src/components/theme-toggle.js
  src/contexts/theme-context.js
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

fix: prevent stpnk popup to appear everytime
  src/api/side-chain/create-watch-token.js
Due: prettier --write, eslint --fix

chore: better margin in sun moon icon
  src/components/theme-toggle.js
Due: prettier --write, eslint --fix

chore: few ui impros
  public/index.html
  src/assets/images/question-circle.svg
  src/bootstrap/app.js
  src/components/footer/footer.css
  src/components/global-style.js
  src/components/notification-settings.js
  src/contexts/theme-context.js
Due: prettier --write --ignore-unknown, stylelint --fix, prettier --write, eslint --fix

chore: change hexagons color
  src/contexts/theme-context.js
Due: prettier --write, eslint --fix

chore: colors tweak
  src/contexts/theme-context.js
Due: prettier --write, eslint --fix

chore: skeleton impros
  src/components/global-style.js
  src/components/network-status.js
  src/contexts/theme-context.js
Due: prettier --write, eslint --fix

chore: delete duplicated styles and refactor
  src/components/case-card.js
  src/components/case-details-card.jsx
  src/components/claim-modal.js
  src/components/court-card.js
  src/components/court-cascader-modal.js
  src/components/error-fallback/index.js
  src/components/error-fallback/switch-chain.js
  src/components/global-style.js
  src/components/required-chain-id-modal.js
  src/components/side-chain/pnk-actions.js
  src/components/side-chain/switch-court-chain.js
  src/components/stake-modal.js
  src/components/wallet-connector.js
  src/containers/home.js
Due: prettier --write, eslint --fix

chore: remove more duplicated styles
  src/components/case-card.js
  src/components/case-round-history.js
  src/components/court-card.js
  src/components/evidence-card.js
  src/components/global-style.js
  src/components/pnk-balance-card.js
  src/components/required-chain-id-gateway.js
  src/components/reward-card.js
  src/containers/cases.js
Due: prettier --write, eslint --fix

chore: code smell
  src/contexts/theme-context.js
Due: prettier --write, eslint --fix
