Repository kleros/court: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, stylelint --fix, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{json,html,svg,md}": "prettier --write --ignore-unknown",
  "**/*.{less,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "**/*.{js,jsx}": [
    "prettier --write",
    "eslint --fix"
  ]
}

fix: fixed no MetaMask behavior on side-chains
  src/bootstrap/app.js
  src/bootstrap/web3.js
  src/components/alternative-chain-court.js
  src/components/required-chain-id-gateway.js
  src/components/required-chain-id-modal.js
  src/containers/case.js
  src/hooks/use-chain-id.js
Due: prettier --write, eslint --fix

refactor(claim): add June rewards
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

refactor: improved non-web3 browser chain support
  src/bootstrap/app.js
  src/bootstrap/drizzle.js
  src/components/required-chain-id-gateway.js
  src/components/required-chain-id-modal.js
  src/hooks/use-chain-id.js
Due: prettier --write, eslint --fix

fix: fixed infinite redirection loop when clearing requiredChainId
  src/components/required-chain-id-gateway.js
Due: prettier --write, eslint --fix

refactor: refactored clear requiredChainId when query param is invalid
  src/components/required-chain-id-gateway.js
Due: prettier --write, eslint --fix

chore: maintenance where to buy exchanges page
  src/assets/images/OneInch.svg
  src/assets/images/balancer.svg
  src/assets/images/deversifi.png
  src/assets/images/ethfinex.svg
  src/assets/images/kyber.png
  src/assets/images/loopring.svg
  src/assets/images/paraswap.jpg
  src/assets/images/transak.png
  src/assets/images/uniswap-ninja.svg
  src/assets/images/uniswap.svg
  src/components/pnk-exchanges-card.js
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

feat: enabled xDAI courts
  .env
  netlify.toml
  src/components/alternative-chain-court.js
  src/hooks/use-chain-id.js
Due: prettier --write, eslint --fix

feat: enabled xDAI side-chain API
  src/api/side-chain/chain-params.js
Due: prettier --write, eslint --fix

fix: fixed TokenBridge URL for Mainnet -> xDAI
  src/api/side-chain/chain-params.js
Due: prettier --write, eslint --fix

fix: add more liquid markets and remove IDEX
  src/assets/images/balancer.svg
  src/assets/images/gateio.svg
  src/assets/images/okex.svg
  src/assets/images/sushiswap.png
  src/components/pnk-exchanges-card.js
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

refactor: incorporated feedback from the community
  package.json
  src/api/side-chain/chain-params.js
  src/api/side-chain/create-watch-token.js
  src/api/side-chain/index.js
  src/assets/images/stPNK.png
  src/assets/images/xPNK.png
  src/components/account-details-popup.js
  src/components/required-chain-id-modal.js
  src/components/side-chain-pnk.js
  src/components/stake-modal.js
  src/components/token-symbol.js
  src/hooks/use-force-update.js
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

refactor: changed side-chain onboarding flow
  src/api/side-chain/create-side-chain-api.js
  src/api/side-chain/create-switch-to-side-chain.js
  src/api/side-chain/index.js
  src/api/side-chain/react-adapters.js
  src/api/side-chain/request-switch-network.js
  src/bootstrap/web3.js
  src/components/alternative-chain-court.js
  src/components/multi-balance.js
  src/components/required-chain-id-modal.js
  src/hooks/use-interval.js
Due: prettier --write, eslint --fix

feat: added hidden feature toggle for xDAI
  package.json
  src/components/alternative-chain-court.js
  yarn.lock
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

refactor: improved switch network modal wording
  src/components/alternative-chain-court.js
  src/components/multi-balance.js
Due: prettier --write, eslint --fix

feat: store committed votes locally
  src/components/attachment.js
  src/components/case-details-card.js
Due: prettier --write, eslint --fix

refactor: reorganized imports
  src/components/case-details-card.js
Due: prettier --write, eslint --fix

fix: fixed typos
  src/components/case-details-card.js
Due: prettier --write, eslint --fix

feat: added algorithm to derive the committed vote
  src/components/case-details-card.js
  src/helpers/array.js
Due: prettier --write, eslint --fix

fix: fixed typo on component name
  src/components/case-details-card.js
Due: prettier --write, eslint --fix

refactor: improved display of dispute information
  src/components/case-details-card.js
Due: prettier --write, eslint --fix

refactor: renamed var better communicate intent
  src/components/case-details-card.js
Due: prettier --write, eslint --fix

refactor: explicitly imported useEffect from react
  src/components/case-details-card.js
Due: prettier --write, eslint --fix

refactor: renamed function to generate binary permutations
  src/components/case-details-card.js
  src/helpers/array.js
Due: prettier --write, eslint --fix

refactor: implemented local cache for signature requests
  src/components/case-details-card.js
  src/temp/web3-salt.js
Due: prettier --write, eslint --fix

fix: fixed reload on chain changed behavior
  src/bootstrap/chain-change-watcher.js
Due: prettier --write, eslint --fix

feat: added side-chain Court top banner
  public/index.html
  src/assets/images/kleros-logo-flat-light.svg
  src/bootstrap/app.js
  src/components/alternative-chain-banner.js
  src/components/alternative-chain-court.js
  src/components/case-details-card.js
  src/components/top-banner.js
  src/containers/home.js
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

style: fixed styles for cases page and court modal
  src/components/court-cascader-modal.js
  src/containers/cases.js
Due: prettier --write, eslint --fix

style: fixed primary document card on case details
  src/components/case-details-card.js
Due: prettier --write, eslint --fix

fix: fixed params for xDAI Chain
  src/api/side-chain/chain-params.js
  src/components/alternative-chain-court.js
Due: prettier --write, eslint --fix

fix(claim-modal): replace broken subgraph
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

feat: added snapshot file for the airdrop of July
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

refactor: fixed justifications on xDAI Chain
  src/bootstrap/api.js
  src/components/case-round-history.js
Due: prettier --write, eslint --fix

chore: fixed xDAI and Sokol addresses [skip ci]
  .env
  netlify.toml
Due: none

fix: fixed stake modal edge case
  src/components/stake-modal.js
Due: prettier --write, eslint --fix

fix: fixed behavior on switch network button
  src/components/alternative-chain-court.js
Due: prettier --write, eslint --fix

refactor: reorganized AlternativeChainCourt façade components
  src/components/alternative-chain-court.js
Due: prettier --write, eslint --fix

refactor: removed dangling props for AlternativeChainCourtLink
  src/components/alternative-chain-court.js
Due: prettier --write, eslint --fix

chore: updated KlerosLiquid address Ropsten [ci skip]
  .env
Due: none

fix: fixed addresses for Sokol network [skip ci]
  .env
Due: none

fix: updated address to the fixed KlerosLiquidExtraViews version
  .env
  netlify.toml
Due: none
