Repository kleros/court: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, stylelint --fix, prettier --write, eslint --fix

chore: remove logs
  src/bootstrap/drizzle.js
  src/containers/cases.js
Due: prettier --write, eslint --fix

fix: change goerli addresses on netlify production env
  netlify.toml
Due: none

fix: add goerli to networkToChainId and avoid exception when justifications is not empty
  src/bootstrap/api.js
  src/components/case-round-history.js
Due: prettier --write, eslint --fix

Update .env
  .env
Due: none

Add Polygon support
  .env
Due: none

chore: update netlify.toml config
  netlify.toml
Due: none

refactor: 2022-10 rewards
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

chore: update contract addresses
  .env
  netlify.toml
Due: none

chore: update policy registry
  .env
  netlify.toml
Due: none

style: make buttons on dispute history adapt to inner content
  src/components/case-round-history.js
Due: prettier --write, eslint --fix

fix: change mainnet fallback url
  netlify.toml
Due: none

Revert "Fix: Change mainnet fallback url"
  netlify.toml
Due: none

refactor: 2022-11 rewards
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

fix: explorer url and native currency name
  src/components/token-symbol.js
  src/helpers/block-explorer.js
Due: prettier --write, eslint --fix

feat(networks): add Chiado support
  .env
  netlify.toml
  src/bootstrap/drizzle.js
  src/bootstrap/use-notifications.js
  src/bootstrap/web3.js
  src/helpers/networks.js
Due: prettier --write, eslint --fix

chore: dependabot config
  .github/dependabot.yml
Due: none

docs: security policy
  SECURITY.md
Due: prettier --write --ignore-unknown

refactor: 2022-12 rewards
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

fix: remove getDerivedStateFromError due to side effect
  src/components/error-boundary.js
Due: prettier --write, eslint --fix

fix: remove inner error boundary
  src/bootstrap/app.js
Due: prettier --write, eslint --fix

refactor: add switch chain modal to chain-change-watcher
  src/bootstrap/chain-change-watcher.js
Due: prettier --write, eslint --fix

fix: add conditioal render during drizzle loading
  src/components/account-status.js
Due: prettier --write, eslint --fix

refactor: 2023-01 rewards
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

refactor: remove rinkeby, ropsten, kovan, sokol
  .env
  README.md
  netlify.toml
  src/api/side-chain/chain-params.js
  src/bootstrap/api.js
  src/bootstrap/drizzle.js
  src/bootstrap/use-notifications.js
  src/bootstrap/web3.js
  src/components/claim-modal.js
  src/components/token-symbol.js
  src/containers/404.js
  src/containers/home.js
  src/helpers/block-explorer.js
  src/helpers/networks.js
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

feat: explorer links in evidence
  src/components/case-details-card.js
  src/components/evidence-card.js
  src/components/evidence-timeline.js
Due: prettier --write, eslint --fix

refactor: remove sokol related logic
  src/api/side-chain/create-side-chain-api.js
  src/containers/convert-pnk/wihdraw-stpnk-card.js
Due: prettier --write, eslint --fix

feat: staked in courts click shows details
  src/components/court-list-item.js
  src/components/courts-list-card.js
  src/containers/home.js
Due: prettier --write, eslint --fix

feat: sentry
  package.json
  src/bootstrap/sentry.js
  src/index.js
  yarn.lock
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

chore: sentry release workflow
  .github/workflows/sentry-release.yml
  scripts/sentry-release.sh
Due: none

fix: clicking on join court leads to court menu but doesn't change the highlight
  src/bootstrap/app.js
  src/components/menu/index.js
  src/components/menu/menuItems.js
  src/components/menu/styledMenu.js
  src/hooks/use-menu-selectkey.js
Due: prettier --write, eslint --fix

fix: coherence rewards more clear now
  src/components/case-card.js
  src/components/court-card.js
  src/components/court-cascader-modal.js
Due: prettier --write, eslint --fix

fix: give extra decimal on total rewards
  src/components/reward-card.js
Due: prettier --write, eslint --fix

refactor: 2023-02 rewards
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

refactor: 2023-03 rewards
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

Update use-notifications.js
  src/bootstrap/use-notifications.js
Due: prettier --write, eslint --fix

refactor: 2023-04 rewards
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write --ignore-unknown: any of: **/*.{json,html,svg,md}
  stylelint --fix: any of: **/*.{less,css}
  prettier --write: (any of: **/*.{less,css}) or (any of: **/*.{js,jsx})
  eslint --fix: any of: **/*.{js,jsx}
