Repository kleros/court: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, stylelint --fix, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{json,html,svg,md}": "prettier --write --ignore-unknown",
  "**/*.{less,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "**/*.{js,jsx}": [
    "prettier --write",
    "eslint --fix"
  ]
}

fix: fixed Ropsten address for KlerosLiquidExtraViews
  netlify.toml
Due: none

chore: updgraded web3.js to support EIP-1559
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore: upgraded @kleros/archon
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

refactor: reorganized side-chain components
  src/api/side-chain/index.js
  src/api/side-chain/request-switch-chain.js
  src/components/required-chain-id-modal.js
  src/components/side-chain/announcement-banner.js
  src/components/side-chain/get-pnk-button.js
  src/components/side-chain/pnk-actions.js
  src/components/side-chain/switch-court-chain.js
  src/components/stake-modal.js
  src/containers/courts.js
  src/containers/home.js
Due: prettier --write, eslint --fix

feat(stPNK conversion flow): implemented the conversion form
  src/api/side-chain/create-side-chain-api.js
  src/api/side-chain/xdai-api.js
  src/bootstrap/app.js
  src/components/balance-table.js
  src/components/multi-balance.js
  src/components/side-chain/switch-court-chain.js
  src/components/stepped-content.js
  src/containers/404.js
  src/containers/convert-pnk/convert-pnk-card.js
  src/containers/convert-pnk/convert-pnk-form.js
  src/containers/convert-pnk/convert-pnk.js
  src/containers/convert-pnk/index.js
Due: prettier --write, eslint --fix

feat(stPNK conversion flow): implemented the remaining steps
  src/api/side-chain/chain-params.js
  src/api/side-chain/xdai-api.js
  src/containers/convert-pnk/claim-tokens-button.js
  src/containers/convert-pnk/convert-pnk-card.js
  src/containers/convert-pnk/convert-pnk-form.js
  src/containers/convert-pnk/convert-pnk.js
  src/containers/convert-pnk/switch-chain-button.js
Due: prettier --write, eslint --fix

refactor(stPNK conversion flow): improved wording, spacing and functionality
  src/components/stepped-content.js
  src/containers/convert-pnk/claim-tokens-button.js
  src/containers/convert-pnk/convert-pnk-card.js
  src/containers/convert-pnk/convert-pnk-form.js
  src/containers/convert-pnk/switch-chain-button.js
Due: prettier --write, eslint --fix

refactor: improved comments and var names
  src/api/side-chain/xdai-api.js
Due: prettier --write, eslint --fix

chore: updated Node version on Netlify
  netlify.toml
Due: none

fix: fixed conversion fee calculation
  src/api/side-chain/xdai-api.js
  src/containers/convert-pnk/convert-pnk-form.js
Due: prettier --write, eslint --fix

refactor(tokens): replace transak with guardarian
  src/assets/images/guardarian.svg
  src/components/pnk-exchanges-card.js
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

chore(svg): clean okex svg by removing vertical line at the end
  src/assets/images/okex.svg
Due: prettier --write --ignore-unknown

feat: added xDAI airdrop bonus round
  src/components/claim-modal.js
  src/containers/home.js
Due: prettier --write, eslint --fix

feat: added August snapshot for xDAI
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

feat: added August snapshot for Ethereum Mainnet
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

feat: added JSON RPC endpoint injection to scripts and display interfaces
  src/bootstrap/dataloader.js
  src/bootstrap/web3.js
  src/components/case-card.js
  src/components/case-details-card.js
  src/components/case-round-history.js
  src/components/ongoing-cases-card.js
Due: prettier --write, eslint --fix

chore(deps): upgraded web3.js to the latest version
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

feat: added chain ID to the injected parameters
  src/bootstrap/dataloader.js
  src/components/case-details-card.js
Due: prettier --write, eslint --fix

refactor(case-details-card): converting each datetime to 12:00:00 on given date
  src/components/case-details-card.js
Due: prettier --write, eslint --fix

refactor(case-details-card): replace realitio parser library and re-enable time for datetime
  package.json
  src/components/case-details-card.js
  yarn.lock
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

fix(case-details-card): forgotten unix timestamp conversion
  src/components/case-details-card.js
Due: prettier --write, eslint --fix

fix(case-details-card): adjust time for utc+0
  src/components/case-details-card.js
Due: prettier --write, eslint --fix

feat(case-details-card): answered too soon
  src/components/case-details-card.js
Due: prettier --write, eslint --fix

fix(case-details-card): typo in special value uint(-1)
  src/components/case-details-card.js
Due: prettier --write, eslint --fix

fix(case-details-card): display answered too soon conditionally
  src/components/case-details-card.js
Due: prettier --write, eslint --fix

refactor(case-details-card): generalize reserved rulings button
  src/components/case-details-card.js
Due: prettier --write, eslint --fix

refactor(case-details-card): destructure item array
  src/components/case-details-card.js
Due: prettier --write, eslint --fix

fix(titled-list-card): correct total amount distributed on Main
  src/components/titled-list-card.js
Due: prettier --write, eslint --fix

feat: made the airdrop claims of sep-21 available
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

refactor: changed injected parameters to support cross-chain MetaEvidence
  src/bootstrap/dataloader.js
  src/components/case-card.js
  src/components/case-details-card.js
  src/components/case-round-history.js
Due: prettier --write, eslint --fix

chore(deps): updated archon to its latest version
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

feat(rinkeby): add contract addresses for rinkeby
  .env
  netlify.toml
  src/bootstrap/drizzle.js
  src/bootstrap/use-notifications.js
  src/bootstrap/web3.js
  src/helpers/block-explorer.js
  src/helpers/networks.js
Due: prettier --write, eslint --fix

fix(rinkeby): typo
  .env
  netlify.toml
Due: none

Update README.md
  README.md
Due: prettier --write --ignore-unknown

feat(case-details-card): iframe resizer
  package.json
  src/components/case-details-card.js
  yarn.lock
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

fix(case-details-card): fixes #232
  src/components/case-details-card.js
Due: prettier --write, eslint --fix

fix: updated archon version
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix: crashing before unlocking MetaMask
  src/components/side-chain/switch-court-chain.js
  src/hooks/use-chain-id.js
Due: prettier --write, eslint --fix

fix(case-details-card): put back deprecated chainID for supporting old disputes
  src/components/case-details-card.js
Due: prettier --write, eslint --fix

refactor: make getMetaEvidence comply with new archon options
  config-overrides.js
  src/bootstrap/dataloader.js
Due: prettier --write, eslint --fix
