Repository kleros/court: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, stylelint --fix, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{json,html,svg,md}": "prettier --write --ignore-unknown",
  "**/*.{less,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "**/*.{js,jsx}": [
    "prettier --write",
    "eslint --fix"
  ]
}

feat: add 2025-05 rewards
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

chore: update arbitrable whitelist
  src/temp/arbitrable-whitelist.js
Due: prettier --write, eslint --fix

removed RPC
  netlify.toml
Due: none

feat(networks): add Arbitrum and Zk mainnet
  src/bootstrap/web3.js
Due: prettier --write, eslint --fix

fix(networks): remove public rpc for mumbai and arbSepolia
  netlify.toml
Due: none

chore: add polkamarkets cross-chain gnosis proxy
  src/temp/arbitrable-whitelist.js
Due: prettier --write, eslint --fix

feat: add ipfs links for mainnet and gnosis juror rewards june 2024
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

chore: add redstone and optimism to web3.js
  src/bootstrap/web3.js
Due: prettier --write, eslint --fix

feat: add ipfs links juror rewards july 2024
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

fix: footer buttons not aligned properly
  src/components/footer/footer.css
Due: stylelint --fix, prettier --write

chore: assets svg changes and footer index.js svg path modified
  src/assets/images/twitter.svg
  src/assets/images/x.svg
  src/components/footer/index.js
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

chore: align footer padding with header and ensure footer visibility on mobile devices
  src/components/footer/footer.css
Due: stylelint --fix, prettier --write

chore: fix flex-start css
  src/components/footer/footer.css
Due: stylelint --fix, prettier --write

fix: kip66 apy
  src/components/titled-list-card.js
  src/helpers/rewards.js
Due: prettier --write, eslint --fix

chore: changed svg to match height with footer icons, gap refactor
  src/assets/images/x.svg
  src/components/footer/footer.css
Due: prettier --write --ignore-unknown, stylelint --fix, prettier --write

feat: juror rewards august 2024 and refactor
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

fix: dont use useless literal concat
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

fix: apy
  src/helpers/rewards.js
Due: prettier --write, eslint --fix

feat: add september ipfs links juror rewards
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

fix: add chiado subgraph to bootstrap
  src/bootstrap/subgraph.js
Due: prettier --write, eslint --fix

chore: add seer to arbitrable whitelist
  src/temp/arbitrable-whitelist.js
Due: prettier --write, eslint --fix

feat: add reserved options to dispute history
  src/components/case-round-history.js
Due: prettier --write, eslint --fix

fix: add refuse to arbitrate when the dispute is not loading
  src/components/case-details-card.jsx
Due: prettier --write, eslint --fix

chore: add seer mainnet whitelist
  src/temp/arbitrable-whitelist.js
Due: prettier --write, eslint --fix

chore: update whitelist cross-chain
  src/temp/arbitrable-whitelist.js
Due: prettier --write, eslint --fix

chore: add foreland proxy to homechain whitelist
  src/temp/arbitrable-whitelist.js
Due: prettier --write, eslint --fix

Zk sepolia proxy to whitelist
  src/temp/arbitrable-whitelist.js
Due: prettier --write, eslint --fix

chore: add zkSepolia proxy to whitelist
  src/temp/arbitrable-whitelist.js
Due: prettier --write, eslint --fix

feat: juror rewards october 2024
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

chore: chiado-sepolia proxy whitelist
  src/temp/arbitrable-whitelist.js
Due: prettier --write, eslint --fix

chore: add omen proxy to whitelist
  src/temp/arbitrable-whitelist.js
Due: prettier --write, eslint --fix

fix(web): show chain switch modal if dispute is absent
  src/containers/case.js
Due: prettier --write, eslint --fix

fix: nitpicks
  src/containers/case.js
Due: prettier --write, eslint --fix

feat: separate the sections, delete some useless code
  src/components/side-chain/switch-court-chain.js
  src/containers/convert-pnk/claim-tokens-button.js
  src/containers/convert-pnk/convert-pnk-card.js
  src/containers/convert-pnk/convert-pnk-form.js
  src/containers/convert-pnk/convert-pnk.js
  src/containers/convert-pnk/convert-stpnk-card.js
Due: prettier --write, eslint --fix

feat: add juror rewards ipfs hashes
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

Add xdai proxy redeployment to whitelist
  src/temp/arbitrable-whitelist.js
Due: prettier --write, eslint --fix

chore: update graph urls to production
  .env
  src/bootstrap/subgraph.js
Due: prettier --write, eslint --fix

fix: comment new env variables to pick up the ones from netlify
  .env
Due: none

fix: add a delay to the refuse to arbitrate component
  src/components/case-details-card.jsx
Due: prettier --write, eslint --fix

chore: add yarn version to package.json
  package.json
Due: prettier --write --ignore-unknown
