Repository kleros/court: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, stylelint --fix, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{json,html,svg,md}": "prettier --write --ignore-unknown",
  "**/*.{less,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "**/*.{js,jsx}": [
    "prettier --write",
    "eslint --fix"
  ]
}

feat: new functions compatibility
  .env
  src/bootstrap/api.js
  src/components/case-details-card.js
  src/components/notification-settings.js
Due: prettier --write, eslint --fix

chore: updated rpc http url fallbacks
  .env
Due: none

chore: update rpc fallbacks
  netlify.toml
Due: none

chore: revert non-broken mainnet rpc change
  .env
Due: none

chore: revert non-broken mainnet rpc change
  netlify.toml
Due: none

fix: adapt to justifications functions changes
  src/bootstrap/api.js
  src/components/case-details-card.js
  src/temp/web3-derive-account.js
Due: prettier --write, eslint --fix

chore: delete unused functions folder
  functions/get-justification.ts
  functions/metaevidence-background.ts
  functions/metaevidence-cache.ts
  functions/put-justification.ts
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

refactor: 2023-08 rewards
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

feat(Networks): add zkSync testnet support
  netlify.toml
  src/bootstrap/web3.js
Due: prettier --write, eslint --fix

Restore polygon fallback to previous value
  netlify.toml
Due: none

chore: sandbox and arbitrable whitelist
  src/components/attachment.js
  src/components/case-details-card.js
  src/temp/arbitrable-whitelist.js
Due: prettier --write, eslint --fix

refactor: includes instead of find
  src/components/case-details-card.js
Due: prettier --write, eslint --fix

chore: log arbitrable not included in whitelist
  src/components/case-details-card.js
Due: prettier --write, eslint --fix

chore: shorten whitelist
  src/temp/arbitrable-whitelist.js
Due: prettier --write, eslint --fix

fix: conditional chaining to avoid breaking while the dispute is loading
  src/components/case-details-card.js
Due: prettier --write, eslint --fix

fix: metaEvidenceJSON bug and goerli subgraph
  src/bootstrap/dataloader.js
  src/bootstrap/subgraph.js
  src/components/case-card.js
  src/components/case-details-card.js
  src/components/case-summary-card.js
  src/components/ongoing-cases-card.js
  src/hooks/use-get-draws.js
Due: prettier --write, eslint --fix

chore: remove same-origin in dynamic script iframe
  src/bootstrap/dataloader.js
Due: prettier --write, eslint --fix

fix: tokens excluded from WL
  src/temp/arbitrable-whitelist.js
Due: prettier --write, eslint --fix

chore: remove unused package
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix: old kleros tokens reincluded
  src/components/case-details-card.js
  src/temp/arbitrable-whitelist.js
Due: prettier --write, eslint --fix

chore: dependencies bump and node upgraded from 14 to 16
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix: invalid css property on div
  .husky/pre-commit
  src/components/case-details-card.js
Due: prettier --write, eslint --fix

fix: jsx syntax
  src/components/case-details-card.jsx
Due: prettier --write, eslint --fix

chore: migration to production subgraphs under the kleros org account
  src/bootstrap/subgraph.js
Due: prettier --write, eslint --fix

docs: nop
  README.md
Due: prettier --write --ignore-unknown

fix: outdated fallback rpcs for gnosis
  netlify.toml
Due: none

refactor: 2023-09 rewards
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

chore: archon version bump
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix: node version for netlify
  netlify.toml
Due: none

fix: fuck v8-sandbox
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

refactor: 2023-10 rewards
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

chore: remove not needed derived key check on justification box
  src/components/case-details-card.jsx
Due: prettier --write, eslint --fix

fix(web): some code smells
  src/bootstrap/dataloader.js
  src/components/case-card.js
  src/components/case-details-card.jsx
  src/components/case-round-history.js
  src/components/evidence-timeline.js
  src/components/notification-settings.js
Due: prettier --write, eslint --fix

fix(web): code smell in return statements
  src/bootstrap/dataloader.js
  src/components/case-details-card.jsx
Due: prettier --write, eslint --fix

chore: lockfile
  yarn.lock
Due: none

fix(web): changes requested
  src/components/case-details-card.jsx
  src/components/notification-settings.js
Due: prettier --write, eslint --fix

feat(web): a bit more abstraction, clearer code
  src/components/notification-settings.js
Due: prettier --write, eslint --fix

fix(web): weird styled components out of nowhere bug
  src/containers/convert-pnk/convert-pnk-card.js
  src/containers/convert-pnk/wihdraw-stpnk-card.js
Due: prettier --write, eslint --fix

chore(web): remove misleading eslint restriction
  .eslintrc.json
Due: prettier --write --ignore-unknown
