Repository kleros/court: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, stylelint --fix, prettier --write, eslint --fix

feat: august rewards
  src/assets/snapshots.json
Due: prettier --write --ignore-unknown

style: update button styles for disabled states across components
  src/components/buy-pnk-card.js
  src/components/claim-modal.js
  src/components/global-style.js
  src/components/stake-modal.js
  src/containers/convert-pnk/convert-stpnk-card.js
  src/contexts/theme-context.js
Due: prettier --write, eslint --fix

style: minor improvements
  src/components/claim-modal.js
  src/components/global-style.js
Due: prettier --write, eslint --fix

feat: case page keeps the requiredChainId in URL
  src/bootstrap/chain-change-watcher.js
  src/components/required-chain-id-gateway.js
  src/containers/case.js
  src/helpers/required-chain-id.js
  src/helpers/required-chain-id.test.js
Due: prettier --write, eslint --fix

fix: move 404 fallback to renderContent function in Case component
  src/containers/case.js
Due: prettier --write, eslint --fix

feat: add loading spinner for network switch and add tests for RequiredChainIdGateway
  src/components/required-chain-id-gateway.js
  src/components/required-chain-id-gateway.test.js
Due: prettier --write, eslint --fix

fix: prevent false reloads
  src/components/required-chain-id-gateway.js
  src/components/required-chain-id-gateway.test.js
Due: prettier --write, eslint --fix

fix: update wallet message in required chain ID modal
  src/components/required-chain-id-modal.js
Due: prettier --write, eslint --fix

fix: derive Reality.eth ruling options on-chain instead of trusting dynamic scripts
  src/bootstrap/dataloader.js
  src/bootstrap/dataloader.test.js
  src/components/case-details-card.jsx
  src/components/reality-question-notice.js
  src/temp/json-duplicate-key-guard.js
  src/temp/json-duplicate-key-guard.test.js
  src/temp/reality-known-questions.js
  src/temp/reality-proxies.js
  src/temp/reality-question.js
  src/temp/reality-question.test.js
  src/temp/reality-ruling-options.js
  src/temp/reality-ruling-options.test.js
  src/temp/reality-safe-question.js
  src/temp/reality-safe-question.test.js
Due: prettier --write, eslint --fix

chore: add the Reality.eth known-question generator and operations guide
  REALITY_OPS.md
  package.json
  scripts/generate-reality-known-questions.js
  src/temp/reality-known-questions.js
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

fix: make the Reality.eth question notice title readable in dark mode
  src/components/reality-question-notice.js
Due: prettier --write, eslint --fix

fix: remove unnecessary whitelisted contracts
  src/temp/arbitrable-whitelist.js
Due: prettier --write, eslint --fix

fix: only run whitelisted dynamic scripts
  src/bootstrap/dataloader.js
  src/bootstrap/dataloader.test.js
  src/temp/dynamic-script-whitelist.js
  src/temp/dynamic-script-whitelist.test.js
  src/utils/ipfs.js
Due: prettier --write, eslint --fix

feat: september rewards
  src/assets/snapshots.json
Due: prettier --write --ignore-unknown

fix: whitelist the dynamic scripts in use on Chiado
  src/temp/dynamic-script-whitelist.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write --ignore-unknown: any of: **/*.{json,html,svg,md}
  stylelint --fix: any of: **/*.{less,css}
  prettier --write: (any of: **/*.{less,css}) or (any of: **/*.{js,jsx})
  eslint --fix: any of: **/*.{js,jsx}
