Repository kleros/court: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, prettier --write, eslint --fix

chore: adjusted prettier config
  .prettierrc.json
Due: prettier --write --ignore-unknown

chore: added auto-generated CSS file to stylelintignore
  src/components/.stylelintignore
Due: none

chore: adeded lint and fix NPM scripts
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

docs: updated scripts section on README [skip ci]
  README.md
Due: prettier --write --ignore-unknown

fix(claim-modal): fix a filter statement causing creating a transaction with wrong week code
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

feat: added network status to the system tray
  .env
  package.json
  src/assets/images/logo.svg
  src/bootstrap/app.js
  src/bootstrap/drizzle.js
  src/bootstrap/use-notifications.js
  src/bootstrap/web3.js
  src/components/eth-amount.js
  src/components/identicon.js
  src/components/network-status.js
  src/components/notification-settings.js
  yarn.lock
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

refactor: removed hardcoded symbols for tokens and ETH
  .env
  src/assets/images/light-purple-arrow.svg
  src/assets/images/purple-arrow.svg
  src/bootstrap/use-notifications.js
  src/components/case-card.js
  src/components/claim-modal.js
  src/components/court-card.js
  src/components/court-cascader-modal.js
  src/components/eth-amount.js
  src/components/identicon.js
  src/components/pnk-balance-card.js
  src/components/reward-card.js
  src/components/token-symbol.js
  src/containers/case.js
  src/containers/courts.js
  src/containers/home.js
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

fix: fixed responsivity issues on cards
  src/components/pnk-balance-card.js
  src/components/reward-card.js
  src/containers/tokens.js
Due: prettier --write, eslint --fix

chore: updated stPNK address on Sokol
  .env
Due: none

chore: added Sokol params to netlify config
  netlify.toml
Due: none

refactor: updated claims modal to support multiple chains
  src/components/claim-modal.js
  src/containers/home.js
Due: prettier --write, eslint --fix

fix: fixed responsivity issues on Home cards
  src/components/court-list-item.js
  src/components/list-item.js
Due: prettier --write, eslint --fix

fix: fixed proptype of Case component
  src/containers/case.js
Due: prettier --write, eslint --fix

chore: updated dependencies and babel config
  .babelrc
  .gitignore
  config-overrides.js
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

refactor: removed drizzle in favor of custom chain ID hook
  src/bootstrap/app.js
  src/bootstrap/chain-change-watcher.js
  src/bootstrap/drizzle.js
  src/bootstrap/use-notifications.js
  src/bootstrap/web3.js
  src/components/claim-modal.js
  src/components/court-cascader-modal.js
  src/components/network-status.js
  src/components/notifications-card.js
  src/containers/home.js
  src/hooks/use-chain-id.js
  src/hooks/use-reload-on-chain-changed.js
Due: prettier --write, eslint --fix

fix: fixed list item display after upgrade
  src/components/list-item.js
Due: prettier --write, eslint --fix

refactor: changed the account widget to match the design
  .env
  netlify.toml
  package.json
  src/bootstrap/app.js
  src/bootstrap/sentry.js
  src/bootstrap/web3.js
  src/components/account-details-popup.js
  src/components/account-status.js
  src/components/buy-pnk-card.js
  src/components/eth-address.js
  src/components/identicon.js
  src/components/top-banner.js
  src/containers/home.js
  src/helpers/block-explorer.js
  src/hooks/use-read-only-web3.js
  src/index.js
  yarn.lock
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

feat: added PNK Token Bridge screen
  .env
  netlify.toml
  package.json
  src/api/token-bridge/create-token-bridge-api.js
  src/api/token-bridge/ethereum-api.js
  src/api/token-bridge/index.js
  src/api/token-bridge/react-adapters.js
  src/api/token-bridge/xdai-api.js
  src/assets/contracts/token-bridge-ethereum.json
  src/assets/contracts/token-bridge-xdai.json
  src/assets/contracts/wrapped-pinakion.json
  src/bootstrap/app.js
  src/components/eth-amount.js
  src/components/multi-transaction-status.js
  src/components/stepped-content.js
  src/components/token-symbol.js
  src/containers/404.js
  src/containers/token-bridge/components/explainers.js
  src/containers/token-bridge/components/multi-chain-balance.js
  src/containers/token-bridge/components/ready-to-use.js
  src/containers/token-bridge/components/switch-network-message.js
  src/containers/token-bridge/components/token-bridge-form.js
  src/containers/token-bridge/index.js
  src/containers/token-bridge/token-bridge.js
  src/helpers/create-error.js
  src/helpers/networks.js
  src/helpers/transactions.js
  src/hooks/use-generators.js
  src/hooks/use-previous.js
  src/hooks/use-promise.js
  src/hooks/use-query-params.js
  src/hooks/use-reload-on-chain-changed.js
  yarn.lock
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

refactor(claim-modal): add merkle tree for May 2021 rewards
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

fix(claim-modal): replace bad merkle tree of May
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

feat: implemented the full cross-chain workflow
  src/adapters/antd/button-link.js
  src/adapters/antd/index.js
  src/api/token-bridge/create-token-bridge-api.js
  src/api/token-bridge/ethereum-api.js
  src/api/token-bridge/index.js
  src/api/token-bridge/xdai-api.js
  src/components/account-status.js
  src/components/alternative-chain-court.js
  src/components/case-card.js
  src/components/multi-chain-balance.js
  src/components/network-status.js
  src/components/required-chain-id-gateway.js
  src/components/required-chain-id-modal.js
  src/components/switch-network-message.js
  src/containers/courts.js
  src/containers/home.js
  src/containers/token-bridge/components/swap-step.js
  src/containers/token-bridge/components/switch-network-message.js
  src/containers/token-bridge/components/token-bridge-form.js
  src/containers/token-bridge/token-bridge-card.js
  src/containers/token-bridge/token-bridge.js
  src/helpers/block-explorer.js
  src/helpers/networks.js
  src/hooks/use-account.js
  src/hooks/use-chain-id.js
  src/hooks/use-generators.js
Due: prettier --write, eslint --fix

refactor: removed Mainnet/xDAI cross-chain support
  src/api/token-bridge/create-token-bridge-api.js
Due: prettier --write, eslint --fix

feat: added link to get side-chain PNK
  src/adapters/antd/button-link.js
  src/adapters/antd/button.js
  src/adapters/antd/index.js
  src/components/get-side-chain-pnk-button.js
  src/components/stake-modal.js
  src/containers/courts.js
  src/containers/home.js
Due: prettier --write, eslint --fix

fix: fixed typo in a comment [skip ci]
  src/api/token-bridge/xdai-api.js
Due: prettier --write, eslint --fix

refactor: added button to switch to supported side chains
  src/components/required-chain-id-modal.js
Due: prettier --write, eslint --fix

fix: fixed issued pointed in @mtsallenc review
  src/components/alternative-chain-court.js
  src/components/required-chain-id-gateway.js
  src/components/stake-modal.js
  src/components/switch-network-message.js
  src/containers/token-bridge/components/ready-to-use.js
  src/containers/token-bridge/token-bridge-card.js
  src/hooks/use-generators.js
Due: prettier --write, eslint --fix

fix(stake modal): alert modal shown where not needed
  src/components/required-chain-id-gateway.js
  src/components/stake-modal.js
  src/components/switch-network-message.js
Due: prettier --write, eslint --fix

chore: updated Kovan contracts addresses
  .env
  netlify.toml
Due: none

chore: added ESLint comment to ignore unused var
  src/api/token-bridge/xdai-api.js
Due: prettier --write, eslint --fix

fix: fixed Case page
  src/bootstrap/app.js
  src/components/case-round-history.js
Due: prettier --write, eslint --fix

refactor: changed Case page to use hooks
  src/bootstrap/app.js
  src/containers/case.js
Due: prettier --write, eslint --fix

fix: fixed Infura Ropsten URL
  .env
  netlify.toml
Due: none

fix: fixed bad instantiation of contract
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

refactor: changed PNK bridging flow
  .env
  netlify.toml
  src/adapters/antd/button.js
  src/api/side-chain/chain-params.js
  src/api/side-chain/create-side-chain-api.js
  src/api/side-chain/create-switch-to-side-chain.js
  src/api/side-chain/index.js
  src/api/side-chain/react-adapters.js
  src/api/side-chain/xdai-api.js
  src/api/token-bridge/create-token-bridge-api.js
  src/api/token-bridge/ethereum-api.js
  src/api/token-bridge/index.js
  src/api/token-bridge/react-adapters.js
  src/api/token-bridge/xdai-api.js
  src/assets/contracts/x-pinakion.json
  src/bootstrap/app.js
  src/components/alternative-chain-court.js
  src/components/court-cascader-modal.js
  src/components/get-side-chain-pnk-button.js
  src/components/multi-balance.js
  src/components/multi-chain-balance.js
  src/components/required-chain-id-modal.js
  src/components/side-chain-pnk.js
  src/components/stake-modal.js
  src/components/stepped-content.js
  src/components/switch-network-message.js
  src/components/token-symbol.js
  src/containers/courts.js
  src/containers/home.js
  src/containers/token-bridge/components/explainers.js
  src/containers/token-bridge/components/swap-step.js
  src/containers/token-bridge/components/token-bridge-form.js
  src/containers/token-bridge/index.js
  src/containers/token-bridge/token-bridge-card.js
  src/containers/token-bridge/token-bridge.js
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

refactor: improved performance of useChainId hook
  src/bootstrap/app.js
  src/bootstrap/chain-change-watcher.js
  src/components/alternative-chain-court.js
  src/components/buy-pnk-card.js
  src/components/claim-modal.js
  src/components/eth-address.js
  src/components/get-side-chain-pnk-button.js
  src/components/network-status.js
  src/components/notifications-card.js
  src/components/required-chain-id-gateway.js
  src/components/side-chain-pnk.js
  src/components/stake-modal.js
  src/containers/courts.js
  src/containers/home.js
  src/hooks/use-chain-id.js
  src/hooks/use-reload-on-chain-changed.js
Due: prettier --write, eslint --fix

refactor: fixed court cascading modal styles
  src/components/court-cascader-modal.js
Due: prettier --write, eslint --fix

style: additional style tweaks
  src/components/court-cascader-modal.js
Due: prettier --write, eslint --fix

fix: disabled xDAI on supported side-chains
  src/api/side-chain/chain-params.js
Due: prettier --write, eslint --fix

refactor: removed unused useReadOnlyWeb3 hook
  src/hooks/use-read-only-web3.js
Due: prettier --write, eslint --fix

fix: fixed web3 fallback endpoint
  src/bootstrap/web3.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write --ignore-unknown: any of: **/*.{json,html,svg,md,css}
  prettier --write: any of: **/*.{js,jsx}
  eslint --fix: any of: **/*.{js,jsx}
