Repository kleros/court: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, stylelint --fix, prettier --write, eslint --fix

fix: centralize IPFS URI handling and improve logic
  src/bootstrap/dataloader.js
  src/components/attachment.js
  src/components/case-details-card.jsx
  src/components/claim-modal.js
  src/helpers/rewards.js
  src/utils/ipfs.js
Due: prettier --write, eslint --fix

fix: standardize fs format handling
  src/bootstrap/dataloader.js
  src/utils/ipfs.js
Due: prettier --write, eslint --fix

fix: handle bare CIDs for v0 and v1
  src/bootstrap/dataloader.js
  src/utils/ipfs.js
Due: prettier --write, eslint --fix

feat: add tests for ipfs utils
  package.json
  src/utils/ipfs.test.js
  yarn.lock
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

refactor: read snapshots from a manifest instead of scraping GitHub raw
  .gitignore
  .prettierignore
  netlify.toml
  package.json
  public/staking-rewards.html
  scripts/emit-snapshots.js
  src/assets/snapshots.json
  src/helpers/rewards.js
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

fix: validate CID shape even if prefixed
  src/utils/ipfs.js
  src/utils/ipfs.test.js
Due: prettier --write, eslint --fix

refactor: source snapshot CIDs from snapshots.json
  scripts/emit-snapshots.js
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

refactor: revert claim modals for now for a smoother transition
  scripts/emit-snapshots.js
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

fix: ignore reserved zero ruling
  src/components/case-details-card.jsx
  src/components/case-round-history.js
Due: prettier --write, eslint --fix

feat: address feedback and swap tab order
  public/staking-rewards.html
  scripts/emit-snapshots.js
  src/helpers/rewards.js
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

chore: remove unnecessary duplication in claim modal
  scripts/emit-snapshots.js
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

fix: properly decode ruling text in evidence timeline
  src/components/evidence-timeline.js
Due: prettier --write, eslint --fix

fix: improve ruling handling in dispute history section
  src/components/case-round-history.js
Due: prettier --write, eslint --fix

fix: improve ruling option initialization
  src/components/case-round-history.js
Due: prettier --write, eslint --fix

feat: verify snapshot roots against MerkleRedeem in CI
  .github/workflows/verify-snapshot-roots.yml
  scripts/verify-snapshot-roots.js
Due: prettier --write, eslint --fix

fix: improve ruling value normalization and update timing
  src/components/case-round-history.js
Due: prettier --write, eslint --fix

fix: reset selection state when ruling prop changes
  src/components/case-round-history.js
Due: prettier --write, eslint --fix

fix: handle potential errors retrieving answer string
  src/components/case-details-card.jsx
Due: prettier --write, eslint --fix

chore: update block explorer URL for gnosis to gnosis.blockscout
  src/components/claim-modal.js
  src/helpers/block-explorer.js
Due: prettier --write, eslint --fix

fix: update claim modal tx link text for clarity
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

feat: implement caching for meta evidence and enhance data fetching logic
  src/bootstrap/dataloader.js
  src/bootstrap/dataloader.test.js
  src/components/case-card.js
  src/components/case-details-card.jsx
  src/components/case-round-history.js
  src/components/ongoing-cases-card.js
Due: prettier --write, eslint --fix

fix: improve data validation logic
  src/bootstrap/dataloader.js
  src/bootstrap/dataloader.test.js
Due: prettier --write, eslint --fix

chore: replace local staking-rewards page with link to rewards.kleros.io
  public/staking-rewards.html
  scripts/emit-snapshots.js
  src/containers/home.js
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

chore: stop tracking env files and add .env.example template
  .env
  .env.development
  .env.example
  .env.production
  .gitignore
Due: none

feat: july rewards
  src/assets/snapshots.json
Due: prettier --write --ignore-unknown

fix: add reward snapshot cache + do not fetch unnecessary metaevidence
  src/components/claim-modal.js
  src/components/ongoing-cases-card.js
  src/helpers/claim-snapshots.js
  src/helpers/claim-snapshots.test.js
Due: prettier --write, eslint --fix

fix: keep correct initial state when no snapshots exist
  src/components/claim-modal.js
  src/components/ongoing-cases-card.js
  src/helpers/claim-snapshots.js
  src/helpers/claim-snapshots.test.js
Due: prettier --write, eslint --fix

feat: implement local justification draft storage for hidden vote courts
  src/components/case-details-card.jsx
Due: prettier --write, eslint --fix

feat: replace justification draft storage with custom local storage hook
  src/components/case-details-card.jsx
  src/hooks/use-local-storage-string.js
Due: prettier --write, eslint --fix

fix: add missing error handling to useLocalStorageString hook.
  src/hooks/use-local-storage-string.js
Due: prettier --write, eslint --fix

fix: minor UI improvements
  src/components/case-details-card.jsx
  src/components/global-style.js
Due: prettier --write, eslint --fix

fix: CVE-2025-9287 security vulnerability
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix: work without .env in CI and address review findings
  .github/workflows/verify-snapshot-roots.yml
  scripts/verify-snapshot-roots.js
Due: prettier --write, eslint --fix

fix: report disjoint failed/pending counts in strict verify summary
  scripts/verify-snapshot-roots.js
Due: prettier --write, eslint --fix

refactor: remove caption next to justification box
  src/components/case-details-card.jsx
Due: prettier --write, eslint --fix

chore: whitelist PoH Governor address
  src/temp/arbitrable-whitelist.js
Due: prettier --write, eslint --fix

fix: update docs link in smart contract wallet warning
  src/components/smart-contract-wallet-warning.js
Due: prettier --write, eslint --fix

fix: add resolutions for vulnerable transitive dependencies
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

fix: fail snapshot verify on pending weeks, keep public RPCs as fallback
  .github/workflows/verify-snapshot-roots.yml
  scripts/verify-snapshot-roots.js
Due: prettier --write, eslint --fix

feat: enhance CaseRoundHistory component with vote tallying and turnout summary features
  src/components/case-round-history.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write --ignore-unknown: any of: **/*.{json,html,svg,md}
  stylelint --fix: any of: **/*.{less,css}
  prettier --write: (any of: **/*.{less,css}) or (any of: **/*.{js,jsx})
  eslint --fix: any of: **/*.{js,jsx}
