Repository kleros/court: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, stylelint --fix, prettier --write, eslint --fix

feat: juror rewards june
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

fix: update gnosis endpoint
  netlify.toml
Due: none

chore: fix url
  netlify.toml
Due: none

Update netlify.toml
  netlify.toml
Due: none

chore: upgraded grove.city rpc
  netlify.toml
Due: none

feat: juror rewards july 2025
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

fix: account for gnosis taking rewards for apy too
  src/helpers/rewards.js
Due: prettier --write, eslint --fix

feat: add warning regarding smart contract wallet usage
  src/bootstrap/app.js
  src/components/smart-contract-wallet-warning.js
Due: prettier --write, eslint --fix

feat: persist smart contract wallet dismissal
  src/components/smart-contract-wallet-warning.js
Due: prettier --write, eslint --fix

feat: add link to docs in warning
  src/components/smart-contract-wallet-warning.js
Due: prettier --write, eslint --fix

fix: exclude EIP-7702 EOAs from warning
  src/components/smart-contract-wallet-warning.js
Due: prettier --write, eslint --fix

refactor: track warning dismissal per address
  src/components/smart-contract-wallet-warning.js
Due: prettier --write, eslint --fix

refactor: improve error handling and code fetching for sc wallet warning
  src/components/smart-contract-wallet-warning.js
Due: prettier --write, eslint --fix

refactor: improve comment per coderabbitai suggestion
  src/components/smart-contract-wallet-warning.js
Due: prettier --write, eslint --fix

chore: add safe-global dependencies, update swr version management, and bump node to 18
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

feat: integrate custom modal & Safe App SDK for wallet connection and notifications setup
  public/_headers
  public/manifest.json
  src/bootstrap/app.js
  src/bootstrap/drizzle.js
  src/bootstrap/wallet-connector.js
  src/components/case-details-card.jsx
  src/components/notification-settings.js
  src/components/safe-notifications-setup.jsx
  src/components/wallet-connector.js
  src/containers/case.js
  src/index.js
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

fix: resolve SonarCloud warnings
  src/bootstrap/app.js
  src/components/notification-settings.js
  src/components/safe-notifications-setup.jsx
Due: prettier --write, eslint --fix

refactor: fix SonarCloud issue with NotificationSettingsContent parameters
  src/components/notification-settings.js
Due: prettier --write, eslint --fix

refactor: enhance error handling in NotificationSettings for push notifications
  src/components/notification-settings.js
Due: prettier --write, eslint --fix

refactor: handle push notification permission error
  src/components/notification-settings.js
Due: prettier --write, eslint --fix

refactor: avoid undefined customProvider
  src/bootstrap/drizzle.js
Due: prettier --write, eslint --fix

refactor: revert unnecessary changes
  public/manifest.json
  src/bootstrap/app.js
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

refactor: update wallet connection logic to use wallet IDs and improve local storage handling
  src/bootstrap/wallet-connector.js
  src/components/wallet-connector.js
Due: prettier --write, eslint --fix

refactor: use optional chaining per sonarcloud suggestion
  src/bootstrap/wallet-connector.js
Due: prettier --write, eslint --fix

refactor: implement asynchronous wallet detection for improved performance
  src/bootstrap/app.js
  src/bootstrap/wallet-connector.js
Due: prettier --write, eslint --fix

refactor: improve NotificationSettings robustness and clarity
  src/components/notification-settings.js
Due: prettier --write, eslint --fix

refactor: enhance wallet connection handling
  src/bootstrap/wallet-connector.js
  src/components/wallet-connector.js
Due: prettier --write, eslint --fix

refactor: remove Safe App SDK integration and clean up related code
  package.json
  public/_headers
  public/manifest.json
  src/bootstrap/app.js
  src/components/case-details-card.jsx
  src/components/notification-settings.js
  src/components/safe-notifications-setup.jsx
  src/index.js
  yarn.lock
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

refactor: prevent hanging push-notification subscription and general error handling improvements
  src/bootstrap/service-worker.js
  src/bootstrap/wallet-connector.js
  src/components/notification-settings.js
Due: prettier --write, eslint --fix

feat: juror rewards august
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

fix: listen to accountsChanged event and reload on account disconnection
  src/hooks/use-chain-id.js
Due: prettier --write, eslint --fix

feat: juror rewards september
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

fix: apy for kip78
  src/helpers/rewards.js
Due: prettier --write, eslint --fix

fix: apy
  src/helpers/rewards.js
Due: prettier --write, eslint --fix

chore: simplify code
  src/bootstrap/subgraph.js
  src/components/claim-modal.js
  src/helpers/rewards.js
Due: prettier --write, eslint --fix

chore: whitelist PoH V2 contracts on mainnet and gnosis
  src/temp/arbitrable-whitelist.js
Due: prettier --write, eslint --fix

chore: solve coderrabit nitpick
  src/temp/arbitrable-whitelist.js
Due: prettier --write, eslint --fix

feat: realitio-base
  .env
  src/bootstrap/web3.js
  src/temp/arbitrable-whitelist.js
Due: prettier --write, eslint --fix

chore: public-base-rpc
  .env
Due: none

Path conditions:
  prettier --write --ignore-unknown: any of: **/*.{json,html,svg,md}
  stylelint --fix: any of: **/*.{less,css}
  prettier --write: (any of: **/*.{less,css}) or (any of: **/*.{js,jsx})
  eslint --fix: any of: **/*.{js,jsx}
