Repository kleros/court: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, stylelint --fix, prettier --write, eslint --fix

fix() env vars, signing logic
  functions/get-justification.ts
  functions/put-justification.ts
Due: none

fix(wip): query gnosis justifications
  .env
  .env.development
  .env.production
  src/components/case-round-history.js
Due: prettier --write, eslint --fix

fix(lemon): use correct justification endpoint
  netlify.toml
Due: none

feat(lemon): add get-justifications function
  get-justifications.js
Due: prettier --write, eslint --fix

feat(lemon): use new function
  src/components/case-round-history.js
Due: prettier --write, eslint --fix

fix(lemon): move netlify function to correct folder
  netlify/functions/get-justifications.js
Due: prettier --write, eslint --fix

fix(lemon): correctly construct get-justifications url
  src/components/case-round-history.js
Due: prettier --write, eslint --fix

chore(lemon): add supabase dependency
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

chore(lemon): reinstall supabase deps
  yarn.lock
Due: none

chore(lemon): change netlify function from js to ts
  netlify/functions/get-justifications.ts
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

feat(lemon): get justifications
  src/components/case-round-history.js
Due: prettier --write, eslint --fix

feat(lemon): correctly display justification
  src/components/case-round-history.js
Due: prettier --write, eslint --fix

fix(lemon): get correct voteID
  src/components/case-round-history.js
Due: prettier --write, eslint --fix

fix(lemon): go through justifications in reverse
  src/components/case-round-history.js
Due: prettier --write, eslint --fix

fix(lemon): fix justification logic
  src/components/case-round-history.js
Due: prettier --write, eslint --fix

feat(lemon): cache votes
  src/components/case-round-history.js
Due: prettier --write, eslint --fix

Revert "feat(lemon): cache votes"
  src/components/case-round-history.js
Due: prettier --write, eslint --fix

fix: remove disputetimeline
  src/components/case-details-card.js
  src/components/dispute-timeline.js
Due: prettier --write, eslint --fix

fix: correctly query sepolia for events
  .env
  netlify.toml
  src/bootstrap/use-notifications.js
  src/components/case-details-card.js
  src/components/cases-list-card.js
  src/components/ongoing-cases-card.js
  src/components/performance-card.js
  src/components/pnk-stats-list-card.js
  src/components/reward-card.js
  src/containers/case.js
  src/containers/cases.js
  src/helpers/block-numbers.js
Due: prettier --write, eslint --fix

fix: check that subcourt timesPerPeriod is not undefined
  src/components/dispute-timeline.js
Due: prettier --write, eslint --fix

refactor: 2023-06 rewards
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

fix: stop using useCacheEvents
  src/components/case-card.js
  src/components/case-details-card.js
  src/components/cases-list-card.js
  src/components/ongoing-cases-card.js
  src/components/performance-card.js
  src/components/pnk-stats-list-card.js
  src/components/reward-card.js
  src/containers/case.js
  src/containers/cases.js
  src/hooks/use-get-draws.js
  src/hooks/use-get-shifts.js
Due: prettier --write, eslint --fix

fix: proper batching
  src/hooks/use-get-draws.js
  src/hooks/use-get-shifts.js
Due: prettier --write, eslint --fix

chore: change contract loading message
  src/containers/404.js
Due: prettier --write, eslint --fix

chore: rename xdai to gnosis chain
  src/api/side-chain/chain-params.js
  src/components/side-chain/announcement-banner.js
  src/containers/404.js
  src/helpers/networks.js
Due: prettier --write, eslint --fix

feat(archon): replace archon -> no getLogs calls
  config-overrides.js
  package.json
  src/bootstrap/app.js
  src/bootstrap/archon.js
  src/bootstrap/dataloader.js
  src/bootstrap/web3.js
  src/components/case-card.js
  src/components/case-details-card.js
  src/components/case-round-history.js
  src/components/evidence-timeline.js
  yarn.lock
Due: prettier --write --ignore-unknown, prettier --write, eslint --fix

fix: add config-overrides back
  config-overrides.js
Due: prettier --write, eslint --fix

feat: add justs
  functions/get-justification.ts
  functions/put-justification.ts
Due: none

fix: package.json
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown

feat: mEvidence cache / chain agnostic justificaitons
  functions/metaevidence-background.ts
  functions/metaevidence-cache.ts
  functions/put-justification.ts
Due: none

refactor: 2023-07 rewards
  src/components/claim-modal.js
Due: prettier --write, eslint --fix

fix: api revamp
  .env.development
  .env.production
  netlify.toml
  src/bootstrap/api.js
  src/bootstrap/dataloader.js
  src/bootstrap/subgraph.js
  src/components/case-details-card.js
  src/components/case-round-history.js
  src/components/notification-settings.js
  src/hooks/use-get-draws.js
  src/hooks/use-get-shifts.js
Due: prettier --write, eslint --fix

fix: add sepolia name
  src/bootstrap/api.js
Due: prettier --write, eslint --fix

fix: small fixes
  src/components/case-round-history.js
  src/components/notification-settings.js
  src/hooks/use-get-draws.js
  src/hooks/use-get-shifts.js
Due: prettier --write, eslint --fix

fix: useSWR for fetching justifications
  src/components/case-round-history.js
Due: prettier --write, eslint --fix

fix: fix/add swr caching
  src/components/case-round-history.js
  src/components/notification-settings.js
Due: prettier --write, eslint --fix

fix: notifications fix
  src/bootstrap/api.js
  src/components/case-details-card.js
  src/components/case-round-history.js
  src/components/notification-settings.js
Due: prettier --write, eslint --fix

fix: fix api-related issues
  src/bootstrap/api.js
  src/components/case-details-card.js
  src/components/notification-settings.js
  src/temp/web3-derive-account.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write --ignore-unknown: any of: **/*.{json,html,svg,md}
  stylelint --fix: any of: **/*.{less,css}
  prettier --write: (any of: **/*.{less,css}) or (any of: **/*.{js,jsx})
  eslint --fix: any of: **/*.{js,jsx}
